.header {
  color: white;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 20px;

  &__icon {
    align-items: center;
    font-size: 50px;
    align-self: center;
    margin: 20px 0 15px;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0 15px;

    &__container {
      display: flex;
      gap: 16px;
    }
  }
}
